<h2>All Existing Categories</h2>
<br>
<ul>
	<% categories.forEach(function(category) { %>
		<li>
			<h5><a href="/categories/ <%= category.id %>"> <%= category.name%> </a></h5> 
		</li>
	<% }); %>
</ul>